.ietvars {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: #eef3f7;
}

h1 {
    text-align: center;
    background: #cfe5ff;
    color: #1a3d7c;
}

ul {
    text-align: center;
    padding: 0px;
}

li {
    display: inline-block;
}

.speles_lauk {
    background: #dbe7f3;
    width: 520px;
    justify-content: center;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.bloks {
    background: #ff7675;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 45px;
    display: flex;
    border-radius: 5px;
}
.atverts {
    background: #55efc4;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #74b9ff;
    color: white;
    border: 2px solid #4a90e2;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

a:hover {
    background-color:  #4a90e2;
    transform: scale(1.05);
}

a:active {
    background-color: #74b9ff;
    color: #dff9fb;
    transform: scale(1.05);
}