<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atmiņas spēle</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    <div class="ietvars"><!--pelekais laukums-->
        <div class="galviene"><!--virsraksts un izvēlne-->
            <h1>Atmiņas spēle</h1>
            <ul>
                <li><a href="/">Sākums</a></li>
                <li><a href="/spele">Spēle</a></li>
                <li><a href="/tops">Tops</a></li>
                <li><a href="/par">Par</a></li>
            </ul>

        </div><!--aizver virsraksts un izvēlne-->
        <div class="saturs"><!--saturs-->
            <h3>Noteikumi</h3>
            <p>1.Lai sāktu spēli,ievadi savu vārdu paredzētajā laukā.<div class=""></div></p>
            <p>2.Nosped pogu "Sākt spēli".</p>
            <p>3.Pēc pogas nospiešanas Tu automātiski tiksi novirzīts uz spēli.</p>
            <p>4.Spēles uzdevums ir noteiktā laikā atrast vienādas kartiņu pārus.</p>
            <p>5.Atver divas kartiņas vienlaikus un mēģini atrast vienādas.</p>
            <p>6.Ja kartiņas sakrīt,tās paliek atvērtas.Ja neskrīt tās aizveras ciet.</p>
            <p>7.Spēle turpinās,līdz atrasti visi pāri.</p>
            <p>8.Mēģini katru reizi spēli pabeigt arvien ātrāk,lai trenētu savu atmiņu un uzmanību.</p>
            <h3>Pieteikšanās informācija</h3>
            <label>Vārds:</label>
            <input id="vards">
            <button onclick="saktSpeli()">Sākt spēli</button>
        </div><!--aizver saturs-->

    </div><!--aizver pelekais laukums-->
    <script src="/static/sakums.js"></script>
    
</body>
</html>